/* All  H2 Headers that require Orange */
.collection__title > h2, h2.collection-list-title, h1.collection-hero__title {
    text-transform: uppercase;
    color: #F98805 !important;
}

/* All  H2 Headers that require White */
.image-with-text__content > h2 {
    color: #fff !important;
    text-transform: uppercase;
}

/* H2 that only requires upperase */

h2.inline-richtext {
    text-transform: uppercase;
}

.header__menu-item {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: rgba(var(--color-foreground)) !important
}
/* Home Banner Text Styling */
h2.banner__heading {
    text-transform: uppercase;
    font-size: 12.49rem;
    color: rgba(255, 255, 255, 0.4);
}

/* All  Headers/text that require font spacing, uppercase @ 20pt */
h3.card__heading, .announcement-bar__message, .h5 {
    font-family: var(--font-body-family);
    letter-spacing: 0.1rem;
    text-transform: uppercase;

}

.facets-wrapper,
.facets__heading,
.facet-filters__field h2,
.select__select,
.product-form__buttons button,
.button,
.facet-filters__sort,
.product-count__text,
.menu-drawer__menu > li,
.announcement-bar__message,
.collapsible-content__heading,
h3.accordion__title,
 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 1rem !important; 
  font-family: var(--font-heading-family);
}

/* Border Styling referencing green borders */
.banner__buttons, .card__media, a.button{
    text-transform: uppercase;
    font-size: 1.33rem !important;
    letter-spacing: 0.1rem !important;
    font-weight: bold; 
    border: 1px solid #2CB569;

}

.multirow{
    background: rgb(255,250,226);
    background: linear-gradient(180deg, rgba(255,250,226,1) 0%, rgba(255,215,0,1) 32%, rgba(249,136,5,1) 63%, rgba(242,84,116,1) 100%) !important;
}

.image-with-text__text > p {
    color: #fff;
}

/* Breadcrumbs' styles */
.breadcrumbs {
    font-size: 0.60em !important;
    font-weight: bold; 
    text-transform: uppercase;
    margin: 2.5em 0;
  }
  
  .breadcrumbs ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .breadcrumbs li {
    display: inline-block;
  }
  
  .breadcrumbs a {
    text-decoration: underline;
  }
  
  .breadcrumbs li:not(:last-child):after {  
    content: "/\00a0"; /* Forward slash followed by a non-breaking space */
    display: inline-block;
    padding-left: .75ch;
    speak: none;
    vertical-align: middle;
  }
  
  .breadcrumbs [aria-current="page"] {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
  }
  
  .breadcrumbs [aria-current="page"]:hover,
  .breadcrumbs [aria-current="page"]:focus,
  .breadcrumbs [aria-current="page"]:visited {
    text-decoration: underline;

  }