/* All  H2 Headers that require Orange */
.collection__title > h2, h2.collection-list-title, h1.collection-hero__title, h1.title--primary, h1.title {
    text-transform: uppercase;
    color: #F98805 !important;
}

/* All  H2 Headers that require White */
.image-with-text__content > h2 {
    color: #fff !important;
    text-transform: uppercase;
}

/* H2 that only requires upperase */

h2.inline-richtext {
    text-transform: uppercase;
}

.header__menu-item {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: rgba(var(--color-foreground)) !important
}
/* Home Banner Text Styling */
h2.banner__heading {
  text-transform: uppercase;
  font-size: 12.49rem;
  color: rgba(255, 255, 255, 0.4);
}

/* Tablet View */
@media (max-width: 1024px) {
  h2.banner__heading {
      font-size: 10rem; /* Adjust font size for tablet */
  }
}

/* Mobile View */
@media (max-width: 767px) {
  h2.banner__heading {
      font-size: 5rem; /* Adjust font size for mobile */
  }
}

/* All  Headers/text that require font spacing, uppercase @ 20pt */
h3.card__heading, p.announcement-bar__message {
    font-family: var(--font-body-family) !important;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

/* Uppercase Body Font Small - 12px */
.facets__container, .facets-wrapper,
.facets__heading,
.facets__summary-label,
.facet-filters__field h2,
.select__select,
.product-form__buttons button,
.button,
.facet-filters__sort,
.product-count__text,
.menu-drawer__menu > li,
.announcement-bar__message,
.collapsible-content__heading,
.price,
.card-information
 {
  text-transform: uppercase !important;
  font-size: 12px !important; 
  vertical-align: text-bottom;
}

/* FAQs Headers */

h2.collapsible-content__heading{
    color: #F98805;
    font-size: 16px;
    letter-spacing: 0.2rem;
}

h3.accordion__title,
.accordion__title {
    text-transform: uppercase !important;
    font-size: 16px;
}
/* Border Styling referencing green borders */
.banner__buttons, .card__media, a.button{
    text-transform: uppercase;
    font-size: 1.33rem !important;
    letter-spacing: 0.1rem !important;
    font-weight: bold; 
    border: 1px solid #2CB569;

}

.multirow{
    background: rgb(255,250,226);
    background: linear-gradient(180deg, rgba(255,250,226,1) 0%, rgba(255,215,0,1) 32%, rgba(249,136,5,1) 63%, rgba(242,84,116,1) 100%) !important;
}

.image-with-text__text > p {
    color: #fff;
}

/* Breadcrumbs' styles */
.breadcrumbs {
    font-size: 0.60em !important;
    font-weight: bold; 
    text-transform: uppercase;
    margin: 2.5em 0;
  }
  
  .breadcrumbs ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .breadcrumbs li {
    display: inline-block;
  }
  
  .breadcrumbs a {
    text-decoration: underline;
  }
  
  .breadcrumbs li:not(:last-child):after {  
    content: "/\00a0"; /* Forward slash followed by a non-breaking space */
    display: inline-block;
    padding-left: .75ch;
    speak: none;
    vertical-align: middle;
  }
  
  .breadcrumbs [aria-current="page"] {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
  }
  
  .breadcrumbs [aria-current="page"]:hover,
  .breadcrumbs [aria-current="page"]:focus,
  .breadcrumbs [aria-current="page"]:visited {
    text-decoration: underline;

  }

  /* Nav Styling  */
  .header__active-menu-item {
    color: #F98805 !important;
    text-decoration: none !important;
}

/* IG Feed  */

div#insta-feed{
  padding: 30px 0 40px 0;
}
div.instafeed-new-layout-item{
  border: 1px solid #2CB569 !important;
}

/* Icon Color Change */
.icon{
  color: #2CB569;
}


/********* Mobile *******/




.collection__title-container, .collection__list-container {
  display: flex;                 /* Use Flexbox layout */
  justify-content: space-between; /* Push the header to the left and button to the right */
  width: 100%;                    /* Ensure the container spans full width */
}


.collection-list-view-all, .collection__view-all, .collection__view-all a:not(.link) {
  margin: 0rem !important;
}

/* This section overlays the h3 of card__heading to the middle of the image */
.custom-card-collection.card__media {
  position: relative; /* Allow absolute positioning for child elements */
}

.custom-card-collection .card-wrapper .card__heading {
  position: absolute; /* Position the heading absolutely */
  top: 50%; /* Adjust this value as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center the heading */
  z-index: 1; /* Ensure it appears above the image */
  text-align: center; /* Center the text */
  color: white; /* Change to your desired text color */
}
.custom-card-collection .card__heading {
  width: 100%;
  height: auto;
  padding: 5px 0px;
  background-color: rgba(255, 215, 0, 0.35); /* #FFD700 at 35% opacity */
  border-top: 1px solid #2cb569;
  border-bottom: 1px solid #2cb569;
}

/* This section targets the collection immediately under the multirow gradient */
#shopify-section-template--23650114175288__featured_collection_xpKqx7 {
  margin: 0 !important;
}

#collection-template--23650114175288__featured_collection_xpKqx7 .collection__title-container .collection__title h2 {
  color: white !important;
}

/* Form Fields */

.field__input {
  background-color: #fff !important;
}